.container-app{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    /* grid-template-columns: 40% 40% 40%; */
    margin-left: 3rem;
    

}
input{
  margin-top: 7rem;
  width: 200px;
  height: 35px;
  
}

.main{
  display: flex;
  justify-content: space-between;
  
}
.search-box{
  margin-left: 20rem;
}