.container-poke{
    border: 10px dotted green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    
}

.card{
    border: 10px dotted purple;
}
.img{
    
    width: 200px;
    height: 200px;
}

.container-poke:hover{
    background: rgba(255, 255, 255, 0.5);
    transition: 0.8s;
    transform: scale(1.1);

}