.stats{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statName{
    width: 75px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.statValue{
    width: 125px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statBar{
    /* width: 200px; */
    height: 8px;
    background-color: rgb(100, 100, 243);
    
}